body{
	margin: 0px;
	padding: 0px;
	background-color: #eee;
	font: 18px Georgia, Times, "Times New Roman", serif;
}
.select{
	width: 500px;
	margin: 0px auto;
}
h1{
	font: 30px Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: white;
}
 
#link a{
	color: black;
}
#link a:hover{
	color: red;
}
/* Menu Page */
ul#measurement_types{
	list-style-type: none;
	margin: 1em 0; 
	padding: 0px;
}
ul#measurement_types li {
	height: auto;
	margin: 0 0 10px 0;
	padding: 0;
}
ul#measurement_types li a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 16px;
	background: white;
	width: 180px;
	border: 1px solid black;
}
ul#measurement_types li a:hover{
	background-color: #3e4a56;
	color: white;
}

/* Form Page */
form{
	width: 50%;
	position: absolute;
	
	margin-left: 14%;

	font-size: 18px;
	position: relative;
	left: -30px;
}
form input[type="text"]{
	padding: 2px;
	font-size: 13px;
	float: right;
}
form select{
	position: relative;
	left: 100%;
	top: -25px;
	padding: 2px;
}
form input[type="submit"]{
	padding: 5px;
	background-color: white;
}
form input[type="submit"]:hover{
	color: white;
	background-color: #3e423f;
}